<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>경기지역화폐-시흥</title>
    <!-- include vue -->
    <script src="https://unpkg.com/vue"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>

    <style>
      td,th {
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 10px;
      }
      .current {
        background: tomato;
      }
    </style>
  </head>
  <body>

  <div id="app">
    <list
            :data='data1'
            :columns="[
                  {
                    'label': '위치',
                    'key': 'location'
                  },{
                    'label': '상호명',
                    'key': 'storeName'
                  },
                  {
                    'label': '전화',
                    'key': 'telephone'
                  },
                  {
                    'label': '카테고리',
                    'key': 'category'
                  }]"
            :perpage="50"
    ></list>
  </div>


  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119881066-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-119881066-1');
  </script>

  <template id="list">

    <a href="http://gmoney.or.kr/PageLink.do?link=forward:/gmoney/searchFranchisee.do&tempParam1=&menuNo=040000&subMenuNo=040100&thirdMenuNo="> 경기지역화폐 </a> 에서 가맹점찾기가 주소가 검색이 되지않아, 주소까지 검색할 수 있게 하고 싶어,
    간단하게 만든 페이지입니다. (시흥 전용)
    <br/>
    <br/>
    <br/>
    <div class="list">
      검색 : <input type="text" class="search" v-model="searchKey"/>
      <br/>
      <br/>
      <table>
        <tr>
          <th v-for="column in columns">{{column.label}}</th>
        </tr>
        <tr v-for="row in data | orderBy orderKey | filterBy searchKey | offset offset | limit perpage">
          <td v-for="item in row">{{item}}</td>
        </tr>
        <tr>
          <td colspan="4">
            <span @click="setPage(currentPageIndex-1)">Prev</span>
            <span v-for="i in pages" @click="setPage(i)" v-bind:class="{'current':currentPageIndex === i}"  style="cursor:pointer"> {{i+1}} </span>
            <span @click="setPage(currentPageIndex+1)">Next</span></td>
        </tr>
      </table>
      <br/>
      <br/>

    </div>
  </template>


  <script type="text/javascript">

    Vue.component('list', Vue.extend({
      template: '#list',
      props: ['data', 'columns', 'perpage'],
      data: function() {
        return {
          searchKey: '',
          currentPageIndex: 0,
          orderKey: 'storeName'
        }
      },
      methods: {
        setPage: function(index) {
          if (index >= 0 && index < this.pages) {
            this.currentPageIndex = index;
          }
        }
      },

      computed: {
        pages: function() {
          var filterBy = this.$options.filters.filterBy;
          var filteredData = filterBy(this.data, this.searchKey);
          return Math.ceil(filteredData.length / this.perpage);
        },
        offset: function() {
          console.log(this.currentPageIndex, this.perpage);
          return this.currentPageIndex * this.perpage;
        }
      },

      watch: {
        searchKey: function() {
          if (this.currentPageIndex + 1 > this.pages)
            this.currentPageIndex = this.pages - 1;
        }
      },

      ready: function() {

      }

    }));

    Vue.filter('limit', function (arr, limit) {
      if ( ! Array.isArray(arr)) return false;
      return arr.slice(0, limit);
    })

    Vue.filter('offset', function (arr, offset) {
      if ( ! Array.isArray(arr)) return false;
      return arr.slice(offset, arr.length)
    });

    var app =
            new Vue({
              el: '#app',
              created() {
                this.fetchData();
              },
              data: {
                data1: []
              },
              methods: {
                fetchData() {
                  axios.get('./siheungData.json').then(response => {
                    this.data1 = response.data;
                  });
                }
              }

            });
  </script>

  <ins class="kakao_ad_area" style="display:none;"
       data-ad-unit    = "DAN-trz41a29r8l5"
       data-ad-width   = "250"
       data-ad-height  = "250"></ins>
  <script type="text/javascript" src="//t1.daumcdn.net/adfit/static/ad.min.js" async></script>


  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-7078161006200071"
       data-ad-slot="8769632746"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  </body>
</html>
